body > div {
    width: 100%;
}
body {
    min-height: 100vh;
}

.favicon {
    height: 16px;
    width: 16px;
    user-select: none;
}
.url {
    padding-left: 8px;
}

header {
    user-select: none;
}

a {
    text-decoration: none;
}

body.input-page a.url:visited {
    color: darkorange;
}

.clicked {
    background-color: #0000000f;
}
